body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: roboto;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

/* first section*/

.head {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: white;
  background-color: #1f2937;
  padding: 0 180px;
  align-items: center;
}

/*header */
.header {
  display: flex;
  padding: 16px 0px;
  width: 100%;
  align-items: center;
}
.header .logo{
  display:flex;
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.header .links {
  display: flex;
  gap: 18px;
  margin-left: auto;
  font-size: 18px;
  color: #e5e7eb;
}

/* content */
.head .content {
  display: flex;
  align-items: center;
  padding: 100px 0px;
  width: 100%;
  gap: 24px;
}

.head .content .text h1 {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
}

.head .content .text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0px;
  margin-bottom: 12px;
  flex: 0;
}

.head .content button {
  background-color: #3882f6;
  border: 0;
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 8px;
}

.head .content .image img {
  width: 430px;
  height: 250px;
}

/* second section */
.section-2 {
  display: flex;
  justify-content: center;
  height: 360px;
  padding: 32px;
}

.section-2 h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.section-2 .imgs {
  padding: 32px;
  gap: 38px;
  display: flex;
  justify-content: center;
}

.section-2 .imgs img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.section-2 .imgs .animal {
  display: flex;
  max-width: 150px;
  flex: 0;
  flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  color: #838784;
}

.section-2 .imgs p {
  margin-top: 10px;
}

/* third section */
.section-3 {
  display: flex;
  justify-content: center;
  height: 360px;
  padding: 32px;
}
