html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: roboto;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  font-size: 16px;
}

/* first section*/

.head {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: white;
  background-color: #1f2937;
  padding: 0 180px;
  align-items: center;
}

/*parallax*/
.head {
  background: linear-gradient(rgba(33, 34, 36, 0.5), rgba(33, 34, 36, 0.8)), url("img/parallax1.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*header */
.header {
  display: flex;
  padding: 16px 0px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.header .logo{
  display:flex;
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.header .links{
  display: flex;
  gap: 18px;
  margin-left: auto;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* content */
.head .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
  width: 100%;
  gap: 24px;
  max-width: 881px;
  margin: auto;
}

.head .content .text h1 {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.head .content .text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0px;
  margin-bottom: 24px;
  flex: 0;
}

.head .content button {
  background-color: #13d42d;
  border: 0;
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 5px 0 #0b8a1c;
}

.head .content button:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.head .content .image img {
  width: 430px;
  height: 250px;
  object-fit: cover;
}

/* second section */
.section-2 {
  display: flex;
  justify-content: center;
  background-color: #181a1b;
  padding: 64px 32px;
}

.section-2 h2 {
  font-size: 36px;
  font-weight: 300;
  color: #f9faf8;
  text-align: center;
  text-transform: uppercase;
}

.section-2 .imgs {
  gap: 38px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.section-2 .imgs .animal {
  display: flex;
  max-width: 150px;
  flex: 0;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  color: #f9faf8;
  font-weight: 300;
  text-transform: uppercase;
}

.section-2 .imgs img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border:;
}

.section-2 .imgs p {
  margin-top: 16px;
}

/* third section */
.section-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #22272e;
  padding: 100px 0px;
  color: white;
}

.section-3 .content {
  margin: 0px 235px;
  max-width: 772px;
  margin: auto;
  background-color: #181a1b;
  padding: 48px;
}

.section-3 .quote {
  font-size: 36px;
  font-weight: 300;
}

.section-3 .author {
  text-align: right;
  font-weight: bolder;
  font-size: 24px;
}

/* fourth section */
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181a1b;
  padding: 96px 0px;
}

/*parallax*/
.section-4 {
  background: linear-gradient(rgba(33, 34, 36, 0.5), rgba(33, 34, 36, 0.5)), url("img/parallax1.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-4 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2dc43f;
  border-radius: 10px;
  padding: 48px 96px;
  width: 720px;
  color: white;
}

.section-4 .content .text p {
  color: #e5e7eb;
}

.section-4 .content a {
  background-color: #2dc43f;
  border: 0;
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 8px;
  border: 2px solid white;
  text-decoration: none;
}

/* footer */
.footer {
  background-color: #22272e;
  color: white;
  text-align: center;
  padding: 32px 0px;
}
